extends base


block body
  h1 Login

  style(type='text/css').
    .errorDiv, .err{
      color: red;
      margin-bottom: 2em;
    }

  .errorDiv
    if error
      p!= error[0].msg


  if error
    p.err #{error}

  form(method="post")
    span Email:
    input#email(type="email", name="email", required=true)
    br

    span Password:
    input#password(type="password", name="password", required=true)
    br

    input(type="submit")
    script(src="/javascript/script.js")
